.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.liveBubbleChart{
  width: 400px;
  background-color: black;
  border-radius: 20px;
  margin: 10px;
}

.liveNumDetections{
  padding:15px;
  font-size:40px;
  font-weight: bold;
  position: absolute;
  color:white;
  -webkit-text-stroke: 2px black;
}
/* .rowChart{
  width: 1000px;
  height: 500px;
} */
